---
import { getCollection } from "astro:content";
import { ArrowRight } from "lucide-react";

import { Button, Link, Text } from "~/components/ui";
import { getTranslations, toLocale } from "~/lib";
import { filterLatestPost } from "~/lib/filters";
import { sortByDate } from "~/lib/sort";

const lang = toLocale(Astro.params.lang);
const t = getTranslations(lang);

const latestPost = await getCollection("blog", filterLatestPost(lang))
	.then(sortByDate)
	.then((x) => x[0]);

if (!latestPost) throw new Error("unreachable");

const href = `/${lang}/blog/${latestPost.slug.slice(3)}`;
---

{
	latestPost && (
		<Button
			as={Link.Nav}
			href={href}
			variant="darker"
			size="wide"
			rounded
			className="group gap-x-1 transition-all duration-300 hover:scale-105 sm:gap-x-3"
		>
			<Text.Subtitle align="center" className="hidden md:block">
				{t("navLink.blog")}
			</Text.Subtitle>

			<span class="hidden text-base text-dark-blue-200 md:block">•</span>

			<div class="max-w-[22ch] sm:max-w-[25ch] lg:max-w-[60ch]">
				<div class="truncate text-sm">{latestPost.data.title}</div>
			</div>

			<ArrowRight className="transition-all group-hover:translate-x-3" />
		</Button>
	)
}
