---
import { Globe } from "lucide-react";

import Logo from "~/components/logo.astro";
import { Flex, Button, Link, HStack } from "~/components/ui";
import { navLinks, getTranslations, toLocale } from "~/lib";

const lang = toLocale(Astro.params.lang);
const locale = lang === "en" ? "ro" : "en";
const slug = Astro.url.pathname.slice(3);

const t = getTranslations(Astro.params.lang);
---

<HStack alignment="center/between" className="hidden lg:flex">
	<Logo />

	<HStack alignment="center/between" className="gap-x-6">
		<Flex
			as="nav"
			alignment="center/between"
			className="hidden text-sm lg:flex [&>*+*]:before:px-2 [&>*+*]:before:text-brand [&>*+*]:before:content-['/']"
		>
			{
				navLinks.map(({ href, label }) => (
					<div class="pl-2">
						<Button
							as={Link.Nav}
							href={`/${lang}${href}`}
							variant="ghost"
							size="small"
							className="transition-all hover:border-border hover:bg-dark-blue-700"
						>
							{t(label)}
						</Button>
					</div>
				))
			}
		</Flex>

		<Button as="a" href={`/${locale}${slug}`} variant="ghost" className="group">
			<span class="uppercase">{locale}</span>
			<Globe
				className="h-5 w-5 text-text-secondary transition-all duration-300 group-hover:scale-110 group-hover:text-foreground"
			/>
		</Button>
	</HStack>
</HStack>
